@using CamelontaEpi.Models.ViewModels 
@using CamelontaEpi.Models.Pages 
@model IPageViewModel <SitePageData> 
    @{
// nest the left navigation inside the root layout
Layout = "~/Views/Shared/Layouts/_Root.cshtml"; }
<div class="row">
    <div class="col-md-3">
        @{Html.RenderPartial("_LeftNavigationMenu", Model);}
    </div>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>