@model CamelontaEpi.Models.Blocks.EmployeeBlock
<div class="team">
    <div class="col-md-4 b1">
        <div class="employee-image-container"><img class="img-responsive employee-image" src="@Url.ContentUrl(Model.Image)"></div>
        <h4>@Model.Name</h4>
        <h5>@Model.Title</h5>
        <p>@Model.Description</p>
        <ul>
            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
        </ul>
    </div>
    </div>
