@model CamelontaEpi.Models.Blocks.FactsBlock

        <div class="col-md-4 project">
            <h3 id="counter">@Model.FactNumber</h3>
            <h4>@Model.FactName</h4>
            <p>@Model.FactDescription </p>
        </div>
