@using CamelontaEpi.Models.ViewModels
@using CamelontaEpi.Models.Pages
@model PageViewModel<StandardPage>
@if (Model.CurrentPage.Name.Contains("Contact") || Model.CurrentPage.Name.Contains("Kontakt"))
{

        Layout = "~/Views/Shared/Layouts/_Root.cshtml"; 
        }
        else
        {

    Layout = "~/Views/Shared/Layouts/_LeftNavigation.cshtml"; 

        }


<div class="row">
    <div class="span8 clearfix">
        @Html.PropertyFor(x => x.CurrentPage.MainBody)
    </div>
</div>

@Html.PropertyFor(m => m.CurrentPage.MainContentArea)